<h1>********RESULTS********</h1>

<p>Your word: <%= @attempt %></p>
<p>Time Taken to answer: <%= @result[:time] %> seconds</p>
<p>Your score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>

<h2>*********************************</h2>
